aiogram==3.22.0
aiosqlite==0.21.0
asyncpg==0.30.0
fastapi==0.116.1
httpx==0.28.1
jose==1.0.0
jwt==1.4.0
passlib==1.7.4
psutil==7.0.0
pydantic==2.11.7
pydantic-settings==2.10.1
python-jose==3.5.0
redis==6.4.0
slowapi==0.1.9
sqlalchemy==2.0.43
uvicorn==0.35.0
zxcvbn==4.5.0
ruff==0.12.12
