aiogram==3.30.0
aiosqlite==0.21.0
asyncpg==0.30.0
fastapi==0.115.11
greenlet==3.0.3
psycopg2-binary==2.9.10
pydantic==2.10.6
pydantic-settings==2.7.1
redis==6.5.0
slowapi==0.1.9
sqlalchemy==2.0.37
uvicorn==0.32.1
ruff==0.9.1
pytest==8.3.4
pytest-asyncio==0.21.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
alembic==1.14.0
faker==26.0.0
httpx==0.25.2
psutil==5.9.0
